:root
{
	--purple: #663399;
	--dark-purple: #4e357f;
	--grey: #eae3ff;
}

@font-face
{
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* General Styles */
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 2rem;
}

/* Hero Section */
.hero {
	align-content: center;
	background-image: linear-gradient(45deg, rebeccapurple 0%, #5100a8 35%, purple 66%, var(--purple) 100%);
	color: white;
	justify-content: center;
	margin: auto;
	min-height: 45vh;
	padding: 4rem 0;
	text-align: center;
}

.hero-content h1 {
	font-size: 3rem;
	margin-bottom: 0.5rem;

}

/* About Section */
#about {
	background-color: #fff;
	padding: 4rem 0;
}

/* Skills Section */
#skills {
	background-color: #f8f8f8;
	padding: 4rem 0;
}

.skill-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2.5rem;
}

.skill-card {
	text-align: center;
	padding: 2rem;
	border: 1px solid #eee;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 3rem 1rem #eee;
}

.skill-card:hover:focus
{
	background-color: red;
}


.skill-card img {
	width: 3rem;
}
.skill-card i {
	font-size: 3rem;
	margin-bottom: 1rem;
}

/* Contact Section */
#contact {
	background-color: #fff;
	padding: 4rem 0;
}

#contact ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 2rem 0;
	padding: 0;

}

#contact li {
	margin: 0 1rem;
}

#contact li a
{
	animation: all 1s ease-in-out;
	border: 1px solid #eeeeee;
	border-radius: 1rem;
	color: white;
	padding: 1rem 2rem;
	text-decoration: none;
}

#contact li:hover
{
	transform: scale(1.05);
}

/* Button */
.btn {
	background-color: var(--purple);
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	padding: 0.8rem 1.5rem;
	text-decoration: none;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: var(--dark-purple);
}