:root
{
	--blue: royalblue;
	--font: 'Noto Sans Display';
	--green: green;
	--grey: #eae3ff;
	--plum: #342d45;
	--purple: #663399;
	--red: indianred;
	--white: #ffffff;
	--yellow: #f4d01d;
	--dark-purple: #4e357f;
	--deep-purple: #1e1a28;
}

@font-face
{
	font-family: 'Noto Sans Display Regular';
	src: local('/assets/fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth,wght.ttf');
	font-weight: normal;
	font-style: normal;
}

*
{
	box-sizing: border-box;
}

body, html
{
	height: auto !important;
	margin: 0;
	min-height: 100%;
	position: relative;
	width: 100%;
}
/* General Styles */
body
{
	font-family: 'Noto Sans Display', "Noto San", sans-serif;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.container
{
	margin: 0 auto;
	max-width: 960px;
	padding: 2rem;
}

.page-container
{
	animation: all 0.3s ease-in-out;
	background-color: #ffffff;
	border: 1px #b6b6b6;
	border-radius: 3rem;
	box-shadow: 1px 1px 3rem 1px rgba(0, 0, 0, 0.3);
	height: auto;
	margin: 1rem auto;
	max-width: 50%;
	padding: 3rem;
	width: 100%;
}

/*
 *
 *  Button
 *
 */
.btn
{
	background-color: var(--purple);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	box-shadow: 0 0 3rem 8px rgba(255, 255, 255, 0.1);
	color: #ffffff;
	padding: 0.8rem 1.5rem;
	text-decoration: none;
	transition: transform 0.3s ease;

}

.btn:hover
{
	background-color: var(--dark-purple);
	border-color: rgba(102, 51, 153, 0.3);
	box-shadow: 0 1rem 3rem rgba(102, 51, 153, 0.2);
	transform: scale(1.1);
}

.fa-forward
{
	align-self: center;
	animation: point 5s ease-in-out infinite alternate;
	margin: auto auto auto 0.5rem;
	position: relative;
	transition: transform 0.5s;
}

@keyframes point
{
	0%, 100%
	{
		transform: translate(0, 1px);
	}
	50%
	{
		transform: translate(0.3rem, 1px);
	}
}

/*
 Dark Mode Settings

 */
body.dark-mode
{
	background-color: var(--deep-purple);
	color: white;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6
{
	color: var(--yellow);
}

body.dark-mode .special-text
{
	color: var(--purple);
}

body.dark-mode .page-container
{
	background-color: var(--plum);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 1px 1px 3rem 1px rgba(255, 255, 255, 0.3);
}