/*
 * GENERAL STYLES
 */
body
{
	transition: background-color 0.3s ease-in-out, color 0.1s ease;
}

@font-face
{
	font-family: 'Noto Sans Display Regular';
	src: local('/assets/fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth,wght.ttf');
	font-weight: normal;
	font-style: normal;
}

/*
 * BASE NAVBAR STYLES
 */
#mynav
{
	align-items: center;
	background-color: var(--purple);
	background-image: linear-gradient(180deg, var(--dark-purple), var(--purple));
	display: flex;
	font-family: 'Noto Sans Display Regular', sans-serif;
	justify-content: space-between;
	margin: auto;
	opacity: 1;
	padding: 1rem;
	position: relative;
	transition: background-color 0.3s ease, color 0.3s ease;
	z-index: 3;
	/* necessary for absolute positioning of mobile menu */
}

#brand-name
{
	animation: fadeInDown 0.5s ease forwards;
	color: white;
	font-size: 1.5rem;
	margin: 0;
	text-wrap: nowrap;
}

#nav-items
{
	align-items: center;
	display: flex;
	transition: all 0.1s ease-in-out;
}

.nav-item
{
	animation: fadeInDown 0.5s ease forwards;
	animation-delay: 0.05s;
	border-radius: 0.5rem;
	color: #f2f2f2;
	font-size: 17px;
	padding: 0.9rem 1rem;
	text-align: center;
	text-decoration: none;
	text-wrap: nowrap;
	transition: all 0.3s ease;
}

.nav-item:hover
{
	background-color: var(--dark-purple);
}

/*
 * DROPDOWN MENU STYLES
 */
.dropdown
{
	position: relative;
}

.dropbtn
{
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.dropmenu
{
	background-color: var(--purple);
	background-image: linear-gradient(-45deg, var(--dark-purple), var(--purple));
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	min-width: 12rem;
	opacity: 0;
	position: absolute;
	top: 150%;
	transform: translateY(-10px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 999;
}

.dropdown:hover .dropmenu
{
	display: block !important;
	opacity: 1;
	transform: translateY(0);
	z-index: 3;
}

.dropdown-item
{
	animation: fadeIn 0.3s ease forwards;
	animation-delay: 0.03s;
	color: #f2f2f2;
	display: block;
	opacity: 0;
	padding: 0.75rem 1rem;
	text-decoration: none;
	transition: all 0.3s ease;
	white-space: nowrap;
	width: 100%;
}

.dropmenu .dropdown-item:hover
{
	border-radius: 0.5rem;
	transform: scale(1.05);
}

.dropdown-item:hover
{
	background-color: #dddddd;
	color: black;
}

/*
 * SUBMENU STYLES
 */
.submenu-wrap
{
	position: relative;
}

.submenu
{
	background-color: var(--purple);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	display: none;
	left: -225px;
	max-width: 225px;
	min-width: 12rem;
	opacity: 0;
	position: absolute;
	top: 0%;
	transform: translateX(-10px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 999;
}

.submenu p
{
	background-color: #dddddd;
	color: var(--purple);
	margin: 0;
	text-wrap: wrap;
	white-space: wrap;
}

.submenu-btn::after
{
	display: inline-block;
}

.submenu-btn:hover
{
	background-color: #dddddd;
	color: black;
}

.submenu-wrap:hover .submenu
{
	display: block;
	opacity: 1;
	transform: translateX(0);
}

/*
 * HAMBURGER MENU STYLES
 */
.hamburger
{
	animation: fadeIn 0.5s ease forwards;
	color: white;
	cursor: pointer;
	display: none !important;
	font-size: 24px;
	transition: all 0.3s ease;
}

/*
 * MOBILE STYLES
 */
@media screen and (max-width: 1000px)
{
	.hamburger
	{
		display: block !important;
		margin: 0 1.5rem;
	}


	.hamburger:hover
	{
		transform: scale(1.2);
	}


	/* Hide icons for dropdown indicators on mobile */
	.fa-caret-left, .fa-caret-down
	{
		display: none;
	}


	#nav-items
	{
		border-top: 1px solid white;
		flex-direction: column;
		left: 0;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 100%;
		transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
		width: 100%;
	}


	#nav-items i
	{
		display: none;
		text-align: center;
	}


	#nav-items.active
	{
		background-color: var(--dark-purple);
		max-height: 500px;
		opacity: 1;
	}


	#nav-item
	{
		border-bottom: 1px solid white;
		display: none;
		padding: 1rem;
		text-align: center;
		width: 100%;
	}


	/* Hide all dropdowns on mobile */
	.dropmenu,
	.submenu
	{
		display: none !important;
	}


	#nav-items.active .dropbtn
	{
		background-color: var(--dark-purple);
		display: block;
		margin: auto;
		min-width: 100vw;
		width: 100%;
	}


	body.dark-mode #nav-items.active
	{
		background-color: var(--dark-purple);
	}


	#nav-items.active .nav-item:hover
	{
		background-color: var(--purple);
	}


	.submenu-wrap:hover .submenu, .dropdown:hover .dropmenu
	{
		display: none !important;
	}


	#nav-items.active .nav-item
	{
		animation: slideInDown 0.5s ease forwards;
		animation-delay: 0.1s;
	}
}

/*
 * DARK MODE STYLES
 */
#darkmode-toggle
{
	animation: fadeIn 0.5s ease forwards;
	background-color: rgba(0, 0, 0, 0);
	border: transparent;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 1.2rem;
	object-fit: contain;
	padding: 1rem;
	transition: transform 0.3s ease;
}

#darkmode-toggle:hover
{
	transform: scale(1.1);
}

.fa-moon
{
	color: white;
	height: 10px;
	margin: 0;
	padding: 0;
	width: 10px;
}

.fa-sun
{
	color: var(--yellow);
	height: 10px;
	margin: 0;
	padding: 0;
	width: 10px;
}

#mynav .gradient-bg
{
	background-image: linear-gradient(375deg, var(--dark-purple), var(--purple));
}

body.dark-mode #mynav
{
}

body.dark-mode .dropmenu,
body.dark-mode .submenu
{
	background-color: #2d1c54;
}

/*
 * ANIMATIONS
 */
@keyframes fadeIn
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

@keyframes fadeInDown
{
	from
	{
		opacity: 0;
		transform: translateY(-10px);
	}
	to
	{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideInDown
{
	from
	{
		opacity: 0;
		transform: translateY(-20px);
	}
	to
	{
		opacity: 1;
		transform: translateY(0);
	}
}