:root
{
	--grey: #eae3ff;
	--purple: #663399;
	--yellow: #f4d01d;
	--dark-purple: #4e357f;
	--deep-purple: #1e1a28;
}

/*
Intended Structure

	div"mynav"
		h1#brand-name
		i#hamburger
		div#nav-items.nav-items



 */

body
{
	transition: background-color 0.3s ease-in-out, color 0.1s ease;
}

@font-face
{
	font-family: 'Noto Sans Display Regular';
	src: local('/assets/fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth,wght.ttf');
	font-weight: normal;
	font-style: normal;
}

/* Base NAV styling */
#mynav
{
	align-items: center;
	background-color: var(--purple);
	border-bottom: 1px solid white;
	display: flex;
	font-family: 'Noto Sans Display Regular', sans-serif;
	justify-content: space-between;
	margin: auto;
	opacity: 1;
	padding: 1rem;
	position: relative;
	transition: background-color 0.3s ease, color 0.3s ease;
	z-index: 3;
	/* necessary for absolute positioning of mobile menu */
}

#brand-name
{
	color: white;
	font-size: 1.5rem;
	margin: 0;
	text-wrap: nowrap;
}

#nav-items
{
	align-items: center;
	display: flex;

}

.nav-item
{
	border-radius: 0.5rem;
	color: #f2f2f2;
	font-size: 17px;
	padding: 0.9rem 1rem;
	text-align: center;
	text-decoration: none;
	text-wrap: nowrap;
	transition: all 0.2s;
}

.nav-item:hover
{
	background-color: var(--dark-purple);
}

/* Dropdown container that wraps the title and the dropdown content */
.dropdown
{
	position: relative;
}

/* Dropdown title (the nav-item that triggers the dropdown) */
.dropbtn
{
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dropdown menu styling */
.dropmenu
{
	background-color: var(--purple);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	min-width: 12rem;
	/* positions dropdown below the nav-item */
	position: absolute;
	top: 150%;
	z-index: 999;
}

/* Show dropdown on hover for desktop */
.dropdown:hover .dropmenu
{
	display: block !important;
	z-index: 3;
}

.dropdown-item
{
	color: #f2f2f2;
	display: block;
	padding: 0.75rem 1rem;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	white-space: nowrap;
}

.dropdown-item:hover
{
	background-color: #dddddd;
	color: black;
}

/*

Submenu styling


*/
.submenu-wrap
{
	position: relative;
}

.submenu
{
	background-color: var(--purple);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	display: none;
	min-width: 10rem;
	position: absolute;
	right: 100%;
	top: 0;
	z-index: 999;
}

.submenu-btn
{
	color: #f2f2f2;
	display: block;
	padding: 0.75rem 1rem;
	text-decoration: none;
	white-space: nowrap;
}

.submenu-btn:hover
{
	background-color: #dddddd;
	color: black;
}

.submenu-wrap:hover .submenu
{
	display: block;
}

/* Hamburger menu  */
.hamburger
{
	color: white;
	cursor: pointer;
	display: none !important;
	font-size: 24px;
}

/* Mobile */
@media screen and (max-width: 800px)
{
	.hamburger
	{
		display: block !important;
		margin: 0 1.5rem;
		transition: all 0.3s ease-in-out;
	}


	.hamburger:hover
	{
		transform: scale(1.2);
	}


	/* Hide icons for dropdown indicators on mobile */
	.fa-caret-left,
	.fa-caret-down
	{
		display: none;
	}


	body.dark-mode #nav-items
	{
		background-color: var(--dark-purple);
	}
	#nav-items
	{
		background-color: var(--purple);
		border-top: 1px solid white;
		flex-direction: column;
		left: 0;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 90px;
		transition: max-height 0.4s ease-in-out;
		width: 100%;
	}


	#nav-items i
	{
		display: none;
		text-align: center;
	}


	#nav-items.active
	{
		max-height: 500px;
		opacity: 1;
	}


	#nav-item
	{
		border-bottom: 1px solid white;
		display: none;
		padding: 1rem;
		text-align: center;
		width: 100%;
	}


	/* Hide all dropdowns on mobile */
	.dropmenu,
	.submenu
	{
		display: none !important;
	}


	#nav-items.active .dropbtn
	{
		display: block;
		margin: auto;
		min-width: 100vw;
		width: 100%;
	}


	.submenu-wrap:hover .submenu, .dropdown:hover .dropmenu
	{
		display: none !important;
	}
}

/*
Dark Mode
 */
#darkmode-toggle
{
	background-color: rgba(0, 0, 0, 0);
	border: transparent;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 1.2rem;
	object-fit: contain;
	padding: 1rem;
	transition: transform 0.3s ease;
}

#darkmode-toggle:hover
{
	transform: scale(1.1);
}

.fa-moon
{
	color: white;
}

.fa-sun
{
	color: var(--yellow);
}

body.dark-mode #mynav
{
	background-color: var(--deep-purple)
}

body.dark-mode .nav-item:hover
{
	background-color: #3b2670;
}

body.dark-mode .dropmenu,
body.dark-mode .submenu
{
	background-color: #2d1c54;
}
