<nav id = "mynav">
	<h1 id = "brand-name">Sean Slaughter</h1>
	<button aria-label = "Toggle dark mode" id = "darkmode-toggle">
		<i class = "fa-solid fa-moon fa-xl"></i>
	</button>
	<i class = "fa-solid fa-bars hamburger" id = "hamburger"></i>

	<div id = "nav-items">
		<a class = "nav-item dropbtn" href = "/index.html">Home</a>
		<div class = "dropdown">
			<a class = "nav-item dropbtn" href = "/class-env/assignment-page.html">Solo Assignments
				<i class = "fa-solid fa-caret-down"></i></a>
			<div class = "dropmenu">
				<a class = "dropdown-item" href = "/class-env/pages/keypress/keypress.html">Keypress Events</a>
				<a class = "dropdown-item" href = "/class-env/pages/jquery-intro/jquery.html">JQuery introduction</a>
				<a class = "dropdown-item" href = "/class-env/pages/handlebars/handlebars.html">AJAX</a>
				<a class = "dropdown-item" href = "/class-env/pages/ButtonMove/ButtonMove.html">Button Moving</a>
				<a class = "dropdown-item" href = "/class-env/pages/Sort/sort.html">Sort Demo</a>
				<a class = "dropdown-item" href = "/class-env/pages/layout/layout.html">Fixed Fluid Hybrid Layout</a>
				<a class = "dropdown-item" href = "/class-env/pages/BandStore/index.html">Band Store</a>
				<a class = "dropdown-item" href = "/class-env/pages/Prog04/prog04.html">Javascript Events</a>
				<a class = "dropdown-item" href = "/class-env/pages/Prog03/prog03-home.html">HTML/CSS Demo</a>
				<a class = "dropdown-item" href = "/class-env/pages/helloworld/helloworld.php">PHP Hello World</a>
				<a class = "dropdown-item" href = "/class-env/pages/CardObject/cards.html">Card Objects</a>
				<a class = "dropdown-item" href = "/class-env/pages/Prime/prime.html">Prime Numbers</a>
			</div>
		</div>

		<div class = "dropdown">
			<a class = "nav-item dropbtn" href = "/class-env/assignment-page.html">Group Assignments
				<i class = "fa-solid fa-caret-down"></i></a>
			<div class = "dropmenu">

				<a class = "dropdown-item" href = "/class-env/pages/GroupCSS1/GroupCSS1.html">GroupCSS01</a>
				<a class = "dropdown-item" href = "/class-env/pages/GroupCSS2/GroupCSS2.html">GroupCSS02</a>
				<a class = "dropdown-item" href = "/class-env/pages/GroupEvents/GroupEvents.html">Group Events</a>

			</div>
		</div>
		<div class = "dropdown">
			<a class = "nav-item dropbtn" href = "/class-env/assignment-page.html">Projects
				<i class = "fa-solid fa-caret-down"></i></a>
			<div class = "dropmenu">
				<a class = "dropdown-item" href = "/class-env/pages/AudioDemo/audio-demo.html">Audio Demo</a>

			</div>
		</div>
		<a class = "nav-item dropbtn" href = "/pages/experience/experience.html">Experience</a>
	</div>
	<script src = "/components/navbar/navbar.js"></script>
</nav>
