@font-face
{
	font-family: 'Roboto';
	src: url('../../../assets/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

head, body
{
	margin: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

main
{
	width: 70%;
	position: relative;
	margin: auto;
}

header
{
	position: relative;
	margin: auto;
	width: 90%;
	border-style: none none solid none;
	border-radius: 3px;
	border-color: rgba(0, 0, 0, 0.2);
}

article
{
	width: 80%;
	margin: 1rem auto auto auto;
	display: flex;
}

article p
{
	text-indent: 3rem;
}

.paragraph-with-div
{
	display: flex;
}

.paragraph-with-div p
{
	flex: 3;
}

.paragraph-with-div aside
{
	flex: 1;
	width: 100%;
	background-color: #f6f6f6;
	border-radius: 10px;
	padding: 1rem;
	margin: auto 1rem auto 1rem;
}

footer
{
	margin: 1rem auto auto auto;
	padding: 1rem;
	border-top: 3px #fa713f solid;
}

.footer-wrapper
{
	bottom: auto;
	color: black;
	background-color: var(--purple);
	width: 100%;
}

@media (max-width: 1160px)
{
	main
	{
		text-wrap: wrap;
		width: 100%;
	}

	main section
	{
		border: 1px solid;
		margin: auto;
		padding: 0;
	}

	.paragraph-with-div
	{
		display: block;
	}

	.paragraph-with-div p
	{
		flex: none;
	}

	.paragraph-with-div aside
	{
		flex: none;
		width: 100%;
		margin: auto auto auto auto;
	}
	article
	{
		display: block;
	}
}

main section
{
	border: 1px solid;
	margin: auto;
	padding: 2rem;
}




