@font-face
{
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

head, body
{
	margin: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.clearfix::after
{
	content: "";
	clear: both;
	display: table;
}


.responsive-table
{
	width: 100%;
	max-width: 66vw;
	margin: auto;
	border-collapse: collapse;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.responsive-table th
{
	background-color: var(--purple);
	color: white;
	font-size: 1.2rem;
	font-weight: bolder;
	padding: 1rem 1rem;
	text-align: center;
	text-wrap: nowrap;
}
.responsive-table td
{
	padding: 1rem 0 1rem 1rem;
}
.responsive-table td, a
{
	color: black;

}
.responsive-table tr:nth-child(odd){background-color: #cdc8ff;}


.responsive-table tr:hover
{
	background-color: #7c2bf3;
	transform: scale(1.025);
	transition: all 0.15s ease-in-out;
}

.responsive-table tr:hover a, .responsive-table tr:hover td
{
	color: white;
	transition: all 0.2s ease-in-out;
}

body.dark-mode
{
	background-color: var(--plum);
}

body.dark-mode table
{
	box-shadow: 0 0 3rem 0.1rem rgba(255, 255, 255, 0.2);
}

body.dark-mode th
{
	color: var(--yellow);
}

body.dark-mode td
{
	color: white;
}

body.dark-mode .responsive-table tr:nth-child(odd)
{
	background-color: var(--dark-purple);
}

body.dark-mode .responsive-table tr:nth-child(even)
{
	background-color: var(--plum);
}

body.dark-mode .responsive-table tr:hover a, .responsive-table tr:hover td
{
	color: white;
}