html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

header
{
	float: left;
	width: 100%;
}

footer
{
	background-color: #cccccc;
	float: left;
	font-style: italic;
	position: relative;
	text-align: center;
	width: 100%;
}

#wrapper
{
	display: flex;
	float: left;
	overflow: hidden;
}

#left_side
{
	background-color: #f56600;
	float: right;
	min-width: 15rem;
	padding: 0.5rem 1rem;
	position: relative;
}

#right_side
{
	background-color: #522d80;
	color: white;
	float: left;
	min-width: 15rem;
	padding: 0.5rem 1rem;
	position: relative;
}

#content_area
{
	background-color: #ffffff;
	float: left;
	margin: 2rem;
	position: relative;
	width: 100%;
}

h1
{
	margin: 0;
}

#left_side ul
{
	list-style: none;
}

#wrapper a, #wrapper a:visited
{
	color: white;
}

#left_side li a:link, #nav li a:visited
{
	color: #000000;
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
}

#left_side li a:hover, #nav li a:active
{
	color: #ffffff;
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 3px 0 3px 3px;
	text-decoration: none;
}

@media screen and (max-width: 800px)
{
	#wrapper
	{
		display: block;
		float: none;
		width: 100%;
	}


	#wrapper div
	{
		float: none;
		margin: auto;
		width: 100%;
	}


	#wrapper h1
	{
		padding-top: 1rem;
	}


	#wrapper p, h1
	{
		padding: 0 1rem;
	}
}