<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>About Me Component</title>
	<link href = "../styles/general.css"
	      rel = "stylesheet">
	<link href = "../styles/aboutme.css"
	      rel = "stylesheet">

</head>
<body>

	<section>
		<div class = "about-me-panel span-page"
		     id = "about">
			<a class = "arrow"
			   href = "#"
			   style = "top: 0; margin-top: 3rem; ">
				<img alt = "Image of a white arrow, made of smaller white dots pointing downwards"
				     class = "arrow-img"
				     src = "../assets/images/homepage/up-arrow-white.png"> </a>
			<div id = "#about-me-wrapper">
				<img class = "side-image"
				     alt = "Image of Sean Tyler Slaughter smiling in a Black Shirt, with a white background"
				     src = "../assets/images/homepage/headshot.png">

				<div class = "about-me-text">
					<h1>
						Interesting Things
					</h1>
					<p> OOOOOO AAHHHH here is some text... This will get filled out.... Lorem Ipsum or
						whatever</p>
					<p> I might as well introduce myself sorta. Hey! I am <b>Sean</b>! I am a Computer
						Science Major at Clemson University, and will be graduating this May!</p>
					<p> Here are some things that I enjoy!</p>

					<div class = "skill-list-wrapper"
					     id = "passions">
						<div class = "skill">
							<p>Dungeons and Dragons</p>
						</div>
						<div class = "skill">
							<p>Code Development</p>
						</div>
						<div class = "skill">
							<p>Kayaking</p>
						</div>
						<div class = "skill">
							<p>Video Games</p>
						</div>
						<div class = "skill">
							<p>Rock Climbing</p>
						</div>
						<div class = "skill">
							<p>Board Games</p>
						</div>
					</div>
				</div>
			</div>

			<a class = "arrow"
			   href = "#skills"
			   style = "bottom:0;">
				<img alt = "Image of a white arrow, made of smaller white dots pointing downwards"
				     class = "arrow-img"
				     src = "../assets/images/homepage/down-arrow-purple.png"> </a>


		</div>
	</section>

</body>
</html>