<!DOCTYPE html>
<html lang = "en">
<head>
	<link href = "../styles/navbar.css"
	      rel = "stylesheet">
	<link href = "../styles/general.css"
	      rel = "stylesheet">
	<title>Sean Slaughter's Nav Bar</title>


</head>
<body>
	<nav>
		<div class = "navbar">
			<a class = "nav-item"
			   href = "#">Home</a>
			<div class = "dropdown">
				<a class = "nav-item dropbtn"
				   href = "./class-env/assignment-page.html">3750 Assignments</a>

				<div class = "dropdown-content">
					<a class = "dropdown-item"
					   href = "./class-env/assignment-page.html">Group Assignments</a>

					<a class = "dropdown-item"
					   href = "./class-env/assignment-page.html">Solo Assignments</a>
				</div>
			</div>
		</div>
	</nav>

</body>
</html>