
  <section>
    <div class = "span-page"
         id = "skills">
      <a class = "arrow"
         href = "#about"
         style = "top: 0; margin-top: 3rem; ">
        <img alt = "Image of a white arrow, made of smaller white dots pointing downwards"
             class = "arrow-img"
             src = "../assets/images/homepage/up-arrow-purple.png"></a>

      <div class=skill-display-wrapper>
        <h1 class = "skill-title">Languages Known</h1>
        <div class = "skill-list-wrapper">
          <div class = "skill">
            <img alt = "Language Icon"
                 class = "skill-img"
                 src = "../assets/images/aboutme/C-language.png">
            <p>C++ | C# | C</p>
          </div>
          <div class = "skill">
            <img alt = "Language Icon"
                 class = "skill-img"
                 src = "../assets/images/aboutme/java-logo.png">
            <p>Java</p>
          </div>
          <div class = "skill">
            <img alt = "Language Icon"
                 class = "skill-img"
                 src = "../assets/images/aboutme/database-icon.svg">
            <p>MySql</p>
          </div>
          <div class = "skill">
            <img alt = "Language Icon"
                 class = "skill-img"
                 src = "../assets/images/aboutme/html-icon.png">
            <p>HTML | CSS | JavaScript</p>
          </div>
        </div>
      </div>
      <div class="skill-display-wrapper">
        <h1 class = "skill-title">Skills, Mindsets, and More</h1>
        <div class = "skill-list-wrapper">
          <div class = "skill">
            <p>RESTful APIs</p>
          </div>
          <div class = "skill">
            <p>Amazon Web Services</p>
          </div>
          <div class = "skill">
            <p>Agile Workflow</p>
          </div>
          <div class = "skill">
            <p>GIT</p>
          </div>
          <div class = "skill">
            <p>Node.js | React.Js</p>
          </div>
        </div>
      </div>
    </div>
  </section>