:root
{
	--font: 'Noto Sans Display';
	--grey: #eae3ff;
	--purple: #663399;
	--yellow: #f4d01d;
	--dark-purple: #4e357f;
	--deep-purple: #1e1a28;
}
@font-face {
	font-family: 'Roboto';
	src: local('/assets/fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Roboto', sans-serif;
}
body
{
	transition: background-color 0.3s ease, color 0.3s ease;
}
.content-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
}

main.page-container
{
	max-width: 66%;
	transition: all 0.3s ease, color 0.2s ease;

}

.section-wrap {
	margin: auto 2rem;
}

h1, h2, h3 {
	font-family: 'Roboto Bold', sans-serif;
	color: var(--purple);
}



.project-section {
	margin-bottom: 1rem;
	border-bottom: 1px solid #ddd;
	padding-bottom: 1rem;
}

.project-section:last-child {
	border-bottom: none;
}

#darkMode-btn {
	align-items: center;
	bottom: 1.5rem;
	justify-content: center;
	margin: auto 1.5rem 1.5rem auto;
	padding: 2rem;
	position: sticky;
	text-align: center;

}

#darkMode-btn i
{
	aspect-ratio: 1 / 1;
	background-color: var(--purple);
	border-radius: 50%;
	box-shadow: 1px 1px 1rem 8px rgba(0, 0, 0, 0.3);
	color: white;
	cursor: pointer;
	margin: 0;
}

#head
{
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
	text-align: center;
	text-wrap: nowrap;
}

#head i
{
	margin: 0 0.5rem;
}


#head a {
	color: var(--purple);
	margin: 1rem;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}

#head a:hover {
	color: var(--dark-purple);
	font-weight: bold;
	transform: scale(1.1);
}

body.dark-mode #head a
{
	color: var(--yellow);
}

@media screen and (max-width: 800px)
{
	body.dark-mode .page-container /* Overriding General.css*/
	{
		max-width: 100%;
		padding: 1rem;
		text-align: left;
	}
}

