<footer id = "myfooter">
		<p>Website developed by Sean Tyler Slaughter</p>

		<p> Website developed using HTML, CSS, JavaScript, with
			some elements of JQuery and PHP! </p>

		<span>
			<a aria-label = "Click to go to Sean's LinkedIn" href = "https://linkedin.com/in/stslaug"><i class = "fa-brands fa-linkedin fa-xl"></i></a>
			<a aria-label = "Click to go to Sean's Github" href = "https://github.com/stslaug" target = "_blank"><i class = "fab fa-github fa-xl"></i></a>
			<a aria-label = "Click to go to Sean's Email" href = "mailto:site@seanslaughter.dev"><i class = "fa-solid fa-envelope fa-xl"></i></a>
		</span>

	</footer>
	<script src = "/components/footer/footer.js"></script>