:root
{
	--font: 'Noto Sans Display';
	--grey: #eae3ff;
	--purple: #663399;
	--yellow: #f4d01d;
	--dark-purple: #4e357f;
	--deep-purple: #1e1a28;
}

@font-face
{
	font-family: 'Noto Sans Display Regular';
	src: local('/assets/fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth,wght.ttf');
	font-weight: normal;
	font-style: normal;
}

#myfooter
{
	align-content: center;
	background-color: var(--purple);
	border: 1px white;
	border-style: solid none none none;
	color: white;
	display: flex;
	font-family: 'Noto Sans Display Regular', sans-serif;
	justify-content: space-between;
	left: 0;
	padding: 2rem 0;
	position: absolute;
	width: 100%;
}

#myfooter a
{
	background-color: #6a3bbd;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.5rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
	color: white;
	font-weight: bolder;
	padding: 1rem;
	text-decoration: none;
}

#myfooter a:hover
{
	background-color: var(--dark-purple);
	color: white;
}

#myfooter p
{
	align-self: center;
	justify-content: center;
	margin: auto;
}

#myfooter p:last-child
{
	margin-right: 1rem;
}

#myfooter p:first-child
{
	margin-left: 1rem;
}

#myfooter span
{
	gap: 1rem;
	margin-right: 4rem;
}

@media screen and (max-width: 1325px)
{
	#myfooter
	{
		display: block;
	}


	#myfooter p
	{
		margin: 2rem auto;
		text-align: center;
	}


	#myfooter span
	{
		align-items: center;
		display: flex;
		justify-content: center;
		margin: auto;
	}
}

body.dark-mode #myfooter
{
	background-color: var(--deep-purple);
}