html
{
	height: 100% !important;
	min-height: min-content !important;
}

.cardBody .container
{
	display: flex;
	max-width: 100%;
}

button.btn:hover, button.btn:active
{
	transform: scale(1.00) translateY(0px);
}

.cardBody .btn[type="submit"]
{
	background-color: var(--purple);
	color: white;
	font-weight: bold;
	margin: 10px auto;
	width: 100%;
}

body.cardBody.dark-mode .btn[type="submit"]
{
	background-color: white;
	color: var(--dark-purple);
	font-weight: bold;
}

.hidden
{
	opacity: 0;
	visibility: hidden;
}

#card-viewer
{
	margin: 2rem;
	width: 100%;
}

#card-viewer .row /*  Implementing a new standard*/
{
}

#card-viewer td.col:nth-child(1)
{
	max-width: min-content;
	width: min-content;
}

#card-viewer th.col:nth-child(3),
#card-viewer th.col:nth-child(4),
#card-viewer th.col:nth-child(5)
{
	white-space: nowrap;
	width: 1%;
}

