*
{
	box-sizing: border-box;
}

body, html
{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

main
{
	display: flex;
}

#intro
{
	flex-basis: 20%;
	margin: auto;
}

#cardsAndForm
{
	border-radius: 2rem;
	box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-basis: 65%;
	margin: 2rem auto;
	max-height: 70vh;
	padding: 1rem;
	transition: background-color 0.3s ease-in-out;
}

#cardForm
{
	border-radius: 2rem;
	flex-basis: 20%;
	transition: background-color 0.3s ease-in-out;
}

#cardForm form
{
	display: flex;
	flex-direction: column;
	margin: 1rem 1rem;
	text-wrap: nowrap;
}

#cardForm input
{
	margin: 0.3rem 0 1rem 0;
}

#showAll
{
	display: flex;
	margin: 2rem auto;
}

#cardForm label
{
	text-align: left;
	text-wrap: nowrap;
}

#cards
{
	box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
	flex-basis: 75%;
	margin: 1rem auto;
	max-height: 100%;
	overflow-y: scroll;
	text-align: left;
}

#cards div
{
	border-radius: 10px;
	margin: 1rem 1rem;
	padding: 1rem 1rem;
	transition-duration: 1s;
}

#cards div:hover
{
	background-color: #e4e4e4;
}

@media (max-width: 1200px)
{
	main
	{
		display: block;
		text-align: center;
	}


	ul
	{
		list-style-type: none;
	}
}

@media (max-width: 850px)
{
	#cardsAndForm
	{
		display: block;
		max-height: 100%;
		overflow: visible;
	}
}

body.dark-mode #cardsAndForm
{
	background-color: var(--plum);
	box-shadow: 0 0 2rem 0.1rem rgba(255, 255, 255, 0.1);
}

body.dark-mode #cardForm
{
	background-color: var(--deep-purple);
}

body.dark-mode #cards div:hover
{
	background-color: var(--purple);
}