#handlebars
{
	min-width: 400px;
}

#handlebar-main h1
{
	display: block;
	font-size: 3rem;
	font-weight: normal;
}

#handlebar-main header
{
	align-items: center;
	justify-content: center;
	min-height: 150px;
	text-align: center;
}

.pet
{
	border-radius: 0 0 1rem 1rem;
	box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);
	display: grid;
	grid-template-columns: 1fr;
	height: auto;
	margin-bottom: 2rem;
	width: auto;
}

.info-column
{
	padding: 0 2rem 2rem 2rem;
}

.photo-column img
{
	height: auto;
	max-width: 300px;
	width: 100%;
}

#animal-info
{
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1333px)
{
	#animal-info
	{
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 950px)
{
	.page-container
	{
		max-width: 100%;
		width: 100%;
	}


	#handlebar-main h1
	{
		font-size: 2.5rem;
	}


	#animal-info
	{
		grid-template-columns: 1fr;
	}


	.photo-column img
	{
		height: auto;
		max-width: 100%;
		width: 100%;
	}
}

@media (max-width: 800px)
{
	.page-container
	{
		max-width: 100%;
		width: 100%;
	}
}

@media (max-width: 675px)
{
	#handlebar-main h1
	{
		font-size: 2rem;
	}


	.info-column
	{
		font-size: 0.8rem;
	}
}