.about-me-panel {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(to bottom, var(--purple
	), #9f5ee5, #f5e8ff, rgba(255, 255, 255, 0));
	padding: 4rem 2rem;
}

.about-me-panel h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: var(--dark-purple);
}

.about-me-panel p {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1rem;
	color: var(--dark-purple);
}

#about-me-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}

.side-image {
	flex: 0 0 15rem;
	width: 100%;
	max-width: 300px;
	height: auto;
	border-radius: 50%;
	box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.about-me-text {
	flex: 1 1 400px;
	min-width: 300px;
	padding: 1rem 2rem;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 15px;
}

#passions p
{
	color: var(--dark-purple);
}

@media(max-width: 1160px) {
	.about-me-panel {
		padding: 2rem 1rem;
	}

	#about-me-wrapper {
		flex-direction: row;
		align-items: center;
		margin: auto;
		flex: auto;
	}
	#passions p:first-child
	{
		color: black;
	}

	.about-me-text {
		padding: 1rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		min-width: auto;
		flex: auto;

	}
}
