.about-me
{
    display: grid;
    grid-auto-columns: auto;
    margin: auto 4rem auto 4rem;
    padding-top: 5rem;

}

.about-me p
{
    overflow: auto;
}
.side-image img
{
    width: 450px;
    height: 450px;
    min-height: 200px;
    margin: auto;
    align-self: center;
    display: flex;
    border: 10px solid var(--purple);
    border-radius: 100%;

}


