:root
{
    --purple: rgb(115, 32, 255);
    --grey: #eae3ff;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html
{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}


.menu-bubble-wrapper {
    position: sticky;
    background-color: white;
    margin: -8px;
    top: 0;
    z-index: 10;
    overflow: hidden;
    box-sizing: border-box
}

.menu-bubble
{
    align-self: center;
    justify-content: right;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    border: 3px var(--purple);
    border-style: none none solid none;


}

.menu-bubble-item
{
    padding: 10px;
    min-width: 100px;
    margin: 10px 0 10px 0;
    transition: 0.3s;
    text-align: center;
    color: black;
    text-decoration: none;

    border-radius: 25px;
    border: 3px solid transparent;

    background-color: var(--grey);

}

.menu-bubble-item:last-child {
    margin-right: 1rem;

}


.menu-bubble-item:hover
{
    cursor: pointer;
    background-color: var(--purple);
    color: white;
    border: 3px solid white;
}


.other-splash
{
    background-color: var(--purple);
    margin: -5px 0 -5px 0;

}


.footer-wrapper
{
    margin: 1rem -8px -10px -8px;
    padding: 10px;
    background-color: var(--purple);
}


.purple-bar
{
    background-color: var(--purple);
    padding: 2rem 0 1rem 0;
    margin: auto;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -10;
}
