/*
Input styling
 */
.input-group
{
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
	transition: background-color 0.3s ease-in-out;
}

.input-group label
{
	color: #333333;
	font-size: 0.95rem;
	font-weight: 600;
	margin-bottom: 0.4rem;
}

textarea.input::placeholder,
textarea.input
{
	font-family: 'Noto Sans Display Regular', sans-serif;
}

.input
{
	background-color: var(--off-white);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: var(--curve);
	font-size: 1rem;
	padding: 0.75rem;
	transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.3s ease-in-out;
	width: 100%;
}

input[type="color"].input
{
	-webkit-appearance: none;
	border: none;
	border: 1px solid rgba(159, 159, 159, 0.24);
	height: 3rem;
	padding: 0.2rem 0.2rem;
	width: auto;
}

input[type="checkbox"].input
{
	cursor: pointer;
	margin: 0;
	padding: 0;
	transition: opacity 0.3s ease-in-out;
}

.input:focus, .input:active
{
	border-color: var(--dark-purple);
	box-shadow: 0 0 0 3px rgba(102, 51, 153, 0.2);
	outline: none;
}

.checkbox-group
{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 8px;
}

.checkbox-item
{
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 0 0 calc(33.333% - 5px); /* Makes each item take up exactly 1/3 of the space, accounting for gap */
	max-width: min-content; /* Minimum width to prevent very narrow items */
}

.checkbox-item input[type="checkbox"]
{
	cursor: pointer;
	margin-right: 5px;
}

.checkbox-item label
{
	cursor: pointer;
	display: inline;
	font-weight: normal;
	margin-bottom: 0;
	margin-left: 0.2rem;
	white-space: nowrap; /* Prevents label text from wrapping */
}

.checkbox-item:has(input[type="checkbox"])
{
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: var(--curve);
	padding: 0.4rem;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.checkbox-item:has(input[type="checkbox"]):hover
{
	background-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode .checkbox-item:has(input[type="checkbox"])
{
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.05);
}

body.dark-mode .checkbox-item:has(input[type="checkbox"]):hover
{
	background-color: rgba(0, 0, 0, 0.1);
}

/* Dark mode adjustments */
body.dark-mode .input-group label
{
	color: #e8e8e8;
}

body.dark-mode .input
{
	background-color: rgba(125, 121, 141, 0.9);
	color: black;
}

body.dark-mode .input:focus, body.dark-mode .input:active
{
	background-color: rgba(255, 255, 255, 0.62);
	color: black;
}

body.dark-mode .input::placeholder
{
	color: rgba(0, 0, 0, 0.44);
}

.radio-group
{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.radio-group > div
{
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	display: flex;
	padding: 0.4rem 0.6rem;
	transition: background-color 0.2s ease;
}

.radio-group > div:hover
{
	background-color: rgba(0, 0, 0, 0.05);
}

.radio-group > div label
{
	cursor: pointer;
	margin-left: 0.3rem;
	margin-raight: auto;
	white-space: nowrap;
}

/* Dark mode */
body.dark-mode .radio-group > div
{
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.05);
}

body.dark-mode .radio-group > div:hover
{
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 767px)
{
	.input-group
	{
		width: 100%;
	}
}
