nav
{
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 100;
}

.navbar
{

	display: flex;
	position: absolute;
	justify-content: center;
	gap: 2rem;
	background-color: white;
	padding: 2rem;
	border-radius: 10px;
	margin: -10px 0 0 0;
}

.nav-item
{
	overflow: hidden;
	text-decoration: none;
	color: black;
	margin: 0 0 0 0;


}

.nav-item:hover
{
	text-decoration: auto;
	color: var(--purple);
}


/*
 *
 *   CSS For Dropdown Menus
 *
  */
.dropdown-content
{
	display: none;
	position: absolute;
	background-color: var(--dark-purple);
	min-width: 120px;
	z-index: 1;
	text-align: left;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content
{
	display: block;

}

.dropdown-item
{
	color: white;
	padding: 1rem 1rem;
	display: block;
	text-wrap: nowrap;
	text-decoration: none;
}

.dropdown-item:hover
{
	background-color: var(--purple);
}