#skills
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 2rem 0 2rem 0;
}


.skill-list-wrapper
{
	display: flex;
	gap: 3rem;
	flex-direction: row;
}

.skill-title
{
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-self: center;
}

.skill
{
	display: flex;
	grid-template-columns: auto auto;
	text-wrap: nowrap;
	gap: 2rem;
	font-size: 1.5rem;
	margin: auto;
	padding: 1rem 2rem 1rem 2rem;
	justify-content: center;
	border: 1px solid transparent;
	transition: 0.3s;
}

.skill:hover
{

	background-color: rgba(193, 193, 193, 0.2);
	border-radius: 5px;
	transform: scale(1.2);
	border-style: none none solid none;
	border-color: rgba(193, 193, 193, 0.2);
}

.skill-img
{
	max-height: 3rem;
	padding: 13px 0 0 0;
}


@media (max-width: 1160px) /* Smaller Devices */
{
	.skill
	{
		display: flex;
		flex-direction: row;
	}
	.skill-list-wrapper
	{
		display: flex;
		flex-direction: column;
	}
}