/*

	Intended to work in conjuction with my general.css
	(or other stylesheets I create that may originate from general.css)


 */
.subnav
{
	background: var(--white);
	color: black;
	display: flex;
	gap: 2rem;
	justify-content: right;
	margin: auto;
	padding: 0 1rem;
	position: relative;
	top: 0;
	width: 100%;
}

.subnav div
{
	align-items: flex-end;
	display: flex;
	justify-content: right;
	margin: 0 0;
	width: 33%;
}

.subnav h2
{
	align-items: flex-start;
	font-size: 1.2rem;
	justify-content: left;
	margin: auto;
	text-align: left;
}

.subnav .nav-item
{
	color: var(--purple);
	width: 100%;
}

.subnav .nav-item:hover
{
	background-color: #c2b7cc;
}

body.dark-mode .subnav
{
	background: var(--purple);
}

body.dark-mode .subnav .nav-item
{
	color: white;
}

body.dark-mode .subnav .nav-item:hover
{
	background-color: var(--off-white);
	color: var(--purple);
}

body.dark-mode .container
{
	background-color: var(--purple), !important;
}

/*


	Side Nav Bar Settings



 */
.sidebar
{
	float: left;
	padding: 1.5rem;
	width: 350px;
}

body.dark-mode .sidebar
{
}

/*
	Unfortunately the subnav requires a little custom styling
	You need to go to the page you want to add the subnav to
	and change .page to
	.page
	{
		flex;
		margin: 2rem;
		max-width: calc(100% - 375px);
		width: 100%;
	}
 */
@media screen and (max-width: 1000px)
{
	.sidebar
	{
		max-width: 100%;
		padding: 1rem;
		width: 100%;
	}


	.subnav h2
	{
		display: none;
	}
}