.welcome-splash
{

    display: flex;
    margin: -22px 0 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    color: white;


    background-color: var(--purple);


}

#welcome-continue
{
    margin-top: 25px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.welcome-splash h1
{
    margin: -5px 0 -5px 0;
    font-size: 48px;
}

.welcome-splash h2
{
    font-size: 20px;
}







