main
{
	background-color: var(--dark-purple);
	display: flex;
	padding: 3rem;
}

#titles, #functions, #titleCreate
{
	background-color: #e8e8e8;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5rem;
	box-shadow: 1px 1px 3rem 1px rgba(209, 209, 209, 0.3);
	height: auto;
	padding: 2rem;
	transition: background-color 0.3s ease-in-out;
	width: 100%;
}

#interactable
{
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: auto;
	margin: 0 0 auto auto;
	max-width: 30vw;
	min-width: 15vw;
	position: sticky;
	top: 1rem; /* Distance from the top of the page since sticky */
	width: 100%;
}

#functions
{
	align-items: flex-start;
	max-height: 50vh;
	min-height: 250px;
	position: relative;
}

#titleCreate
{
	background-color: #ffffff;
	position: relative;
}

#titleCreate .btn
{
	margin-bottom: 0.5rem;
	width: 100%;
}

#titleCreateInfo
{
	display: flex;
	width: 100%;
}

#titles
{
	align-items: flex-start;
	margin: 0 auto auto 0.5rem;
	max-width: 80vw;
	min-height: 70vh;
	min-width: 40vw;
	position: sticky;
	width: 100%;
}

#titles tbody tr
{
	transition: background-color 0.3s ease-in-out;
}

#titles tbody tr.highlighted
{
	background-color: var(--red);
	color: white;
}

/* Progress Bar*/
#progressBar
{
	width: 80%;
	height: 10px;
	background-color: #dddddd;
	margin: 10px auto;
	position: relative;
}

label
{
	display: inline-block;
	margin: auto;
}

/*noinspection CssUnusedSymbol*/
#progress
{
	height: 100%;
	width: 0;
	background-color: #1200da;
}

table
{
	border-spacing: 1rem;
	text-align: center;
	width: 100%;
}

th, td
{
	border-radius: 1rem;
	margin: 5rem;
	padding: 1.5rem;
}

tbody tr td:first-child
{
	text-align: left;
}

tbody tr
{
	border-radius: 1rem;
	box-shadow: 1px 1px 3rem 1px rgba(0, 0, 0, 0.2);
	margin: 1rem;
	padding: 1.5rem;
	text-align: center;
}

tbody tr:nth-child(odd)
{
	background-color: mediumpurple;
	color: white;
	font-weight: bolder;
}

tbody tr:nth-child(even)
{
	background-color: rebeccapurple;
	color: white;
	font-weight: bolder;
}

thead th:nth-child(1)
{ /* Title Column */
	width: 66%;
}

thead th:nth-child(2)
{ /* Timestamp Column */
	width: 17%;
}

thead th:nth-child(3)
{ /* Controls Column */
	width: 17%;
}

.controls
{
	display: flex;
	gap: 8px;
	justify-content: center;
}

/* timestamp slider */
#timestamp
{
	margin: 10px 0;
	width: 80%;
}

body.dark-mode #titles, body.dark-mode #functions, body.dark-mode #titleCreate
{
	background-color: var(--plum);
}

body.dark-mode main
{
	background-color: var(--dark-purple);
}
