main
{
	background-color: var(--dark-purple);
	display: flex;
	padding: 3rem;
}

.bubble-container
{
	background-color: #e8e8e8;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5rem;
	box-shadow: 1px 1px 3rem 1px rgba(209, 209, 209, 0.3);
	height: auto;
	padding: 2rem;
	transition: background-color 0.3s ease-in-out;
	width: 100%;
}

/*
	Audio Controls

 */
#interactable
{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: auto;
	margin: 0 0 auto auto;
	min-width: 315px;
	position: sticky;
	top: 1rem; /* Distance from the top of the page since sticky */
}

#title-controls
{
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
	text-align: center;
}

#time-controls
{
	justify-content: center;
	margin: auto;
	text-align: center;
}

#time-controls input
{
	width: 70%;
}

#volume-controls
{
	text-align: center;
	text-wrap: nowrap;
}

/*
 Title Creation
 */
#titleCreate .btn
{
	margin-bottom: 0.5rem;
	width: 100%;
}

#timestamp /* timestamp slider */
{
	margin: 10px 0;
	width: 80%;
}

/*
	Title Table
 */
#titles
{
	align-items: flex-start;
	height: auto;
	margin: 0 auto auto 0.5rem;
	min-height: 70vh;
	position: sticky;

}

#titleCount
{
	display: flex;
	font-size: 1.2rem;
	position: absolute;
	right: 5rem;
	text-align: center;
	top: 1rem;
}

#titles tbody tr.highlighted
{
	background-color: var(--red);
	color: white;
}

#titles table
{
	text-align: center;
	text-wrap: wrap;
}

#titles th, #titles td
{
	border-radius: 1rem;
	margin: 5rem;
	padding: 1.5rem;
	text-wrap: nowrap;
}

#titles tbody tr td:first-child
{
	text-align: left;
}

tbody tr
{
	border-radius: 1rem;
	box-shadow: 1px 1px 3rem 1px rgba(0, 0, 0, 0.2);
	color: white;
	font-weight: bolder;
	margin: 1rem;
	padding: 1.5rem;
	text-align: center;
}

tbody tr:nth-child(odd)
{
	background-color: mediumpurple;
}

tbody tr:nth-child(even)
{
	background-color: rebeccapurple;
}

.title-column
{ /* Title Column */
	hyphens: auto;
	max-width: 30vw;
	overflow: hidden;
	text-overflow: fade;
	white-space: normal;
	word-wrap: break-word;
}

.time-column
{ /* Timestamp Column */
	width: 10%;
}

thead th:nth-child(3)
{ /* Controls Column */
	width: 17%;
}

#titles.controls
{
	display: flex;
	gap: 8px;
	justify-content: center;
}

.fa-play, .fa-trash, .fa-clock-rotate-left
{
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

.controls .fa-play:hover, .controls .fa-trash:hover
{
	transform: scale(1.2);
}

/*
	Dark Mode Settings
 */
body.dark-mode #titles, body.dark-mode #functions, body.dark-mode #titleCreate
{
	background-color: var(--plum);
}

body.dark-mode main
{
	background-color: var(--dark-purple);
}

/*
	Mobile/Tablet
 */
@media screen and (max-width: 1025px)
{
	main
	{
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1.5rem;
		position: static;
	}


	#functions, #titleCreate, #titles, #interactable
	{
		display: block;
		margin: auto;
		min-height: auto;
		min-width: 100%;
		position: static;
		width: 100%;
	}


	#titles .time-column
	{
		margin: 0;
		max-width: 75px;
		padding: 0;
	}


	#titles
	{
		height: auto;
		margin: 2rem auto;
	}
}

@media screen and (max-width: 700px)
{
	main
	{
		padding: 0;
	}


	#titles i, .title-column, .time-column
	{
		font-size: 1rem;
	}


	#titles table, #titles, #titles .bubble-container
	{
		padding: 0.5rem;
	}
}


