
body, html {
	margin: 0;
	height: 100%;
	width: 100%;
}

#top
{
	min-height: 15vh;
	justify-content: center;
	text-align: center;

}

#view {
	background-color: #1b1b1b;
	min-height: 75vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.red:hover, .blue:hover, .green:hover, .white:hover
{
	font-weight: bolder;
	transform: scale(1.5);
}

#colors
{
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}